[Unit]
Description=MasterNode Service

[Service]
User=root
WorkingDirectory=/root/fault_management
ExecStart=/usr/bin/python /root/fault_management/master_node/start.py

[Install]
WantedBy=multi-user.target